:root {
  --primary-col:  #363062;
  --secondary-col: #435585;
  --tertiary-col: #818FB4;
  --quart-col: #F5E8C7;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-size: 30px;
  color: black;
}


body,#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-col);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background-color: var(--secondary-col);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  border-radius: 20px;
  border: 5px black solid;
  box-shadow: 8px 4px 4px black;
  padding: 20px;
  gap: 10px;
}

#lengths {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

#break,#session {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#break-buttons,#session-buttons {
  width: 100%;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



#session-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  padding: 5px;
  gap: 5px;
  border: 5px var(--primary-col) solid;
  border-radius: 20px;
}

h1 {
  font-size: 45px;
  margin: 0;
}

#session-label,#break-label,#timer-label {
  font-size: 30px;
}

#time-left {
  font-size: 60px;
}

#timer-label{
  margin: 0;
}

#timer-buttons {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 40px;
}

.button {
  color: var(--quart-col);
}

.button:hover {
  cursor: pointer;
}

.number {
  color: var(--quart-col);
}